@charset "UTF-8";

/* I hereby dedicate this css to tea(y). */

/*
*
{
	border: 1px solid gray;
}
*/

body
{
	background-color: #fcfaf4;
}

ul, li
{
	list-style: none;
	margin: 0;
	padding: 0;
}	

a
{
	color: #51473d;
	text-decoration: none;
}

div#container
{
	width: 600px;
	margin: auto;
	
	border: 1px solid #cecab9;
	background-color: #eae7d2;
	color: #797066;
	font-family: Verdana, sans-serif;
}

div#topbar
{
	padding: 4px;
	background-color: #51473d;
	
	color: #eae7d2;
	text-align: right;
	font-style: italic;
	font-size: .6em;
}

/* NAV */
	div#menu > a
	{
		display: none;
	}
	
	div#menu
	{
		position: relative;
		height: 230px;
		
		background-image: url( pics/coffey.jpg );
		background-repeat: no-repeat;
	}
	
	div#menu ul
	{
		position: relative;
		top: 200px;
		width: 600px;
		height: 33px;
		margin: 0;
		padding: 0;
		
		background-color: #51473d;
		border-bottom: 1px solid white;
		
		font-size: 0px;
	}
	
	div#menu ul li
	{
		display: inline-block;
	}
	
	div#menu ul li a
	{
		display: block;
		margin: 5px 1px 0 0;
		padding: 5px 15px;
		text-transform: capitalize;
		
		background-color: #797066;
		border-top: 1px solid #847c73;
		color: #eae7d2;
		font-size: 14px;
	}

	div#menu ul li.active a
	{
		position: relative;
		top: 1px;
		
		background-color: #eae7d2;
		border-top: 1px solid #eae7d2;
		color: #888076;
	}
	
	div#menu ul li a:hover
	{
		background-color: #9c9084;
	}
	
	div#menu ul li:first-child
	{
		margin-left: 10px;
	}
	
	
/* MAIN CONTENT */
	div#maincontent
	{
		display: inline-block;
		width: 380px;
	
		vertical-align: top;
	}
	
	div#maincontent img
	{
		float: left;
	}
	
/* SUB CONTENT */
	div#subcontent
	{
		display: inline-block;
		width: 200px;
	
		vertical-align: top;
	}
	
/* BOTTOM CONTENT */
	div#bottomcontent
	{
	}