@charset "UTF-8";

/*
*
{
	border: 1px solid gray;
}
*/

body
{
	background-color: #fcfaf4;
}

ul, li
{
	list-style: none;
	margin: 0;
	padding: 0;
}	

a
{
	color: #51473d;
	text-decoration: none;
}

div#container
{
	width: 600px;
	margin: auto;
	
	border: 1px solid #cecab9;
	background-color: #eae7d2;
	color: #797066;
	font-family: Verdana, sans-serif;
}

div#topbar
{
	text-align: right;
	background-color: #51473d;
}

/* NAV */
	div#menu > a
	{
		display: none;
	}
	
	div#menu
	{
		background-color: #51473d;
		border-bottom: white;
	}
	
	div#menu ul
	{
		margin: 0;
		padding: 0;
	}
	
	div#menu ul li
	{
		display: inline-block;
	}
	
	div#menu ul li a
	{
		display: block;
		margin: 0;
		padding:5px 10px;
		text-transform: capitalize;
		
		background-color: #797066;
		border-top: 1px solid #847c73;
		color: #eae7d2;
		
	}

	div#menu ul li.active a
	{
		background-color: #eae7d2;
		border-top: 1px solid #eae7d2;
		color: #888076;
	}
	
	
/* MAIN CONTENT */
	div#maincontent
	{
		display: inline-block;
		width: 380px;
	
		vertical-align: top;
	}
	
	div#maincontent img
	{
		float: left;
	}
	
/* SUB CONTENT */
	div#subcontent
	{
		display: inline-block;
		width: 200px;
	
		vertical-align: top;
	}
	
/* BOTTOM CONTENT */
	div#bottomcontent
	{
	}